<h1>New brigade</h1>

<%= error_messages_for :brigade %>

<% form_for(@brigade) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<div class="edit"><p><%= link_to "Cancel", ROOT_URL %></p></div>