<h1>New brigade</h1>

<%= error_messages_for :brigade %>

<% form_for(@brigade) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', brigades_path %>